{% extends 'base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}
<h1>Liste des Commentaires</h1>

<ul>
    {% for comment in comments %}
        <li>{{ comment.content }}</li>
    {% else %}
        <li>Aucun commentaire trouvé</li>
    {% endfor %}
</ul>

{% endblock %}
