{% extends 'base.html.twig' %}

{% block title %}
  {{ category.name }}
{% endblock %}

{% block body %}
  <h1 class="text-4xl text-center">{{ category.name }}</h1>

  {% for article in category.articles %}
    <p>- {{ article.name }}</p>
  {% else %}
    <p>Aucun article trouvé pour cette catégorie.</p>
  {% endfor %}
{% endblock %}