{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}

<p>coucou</p>
<div>
    <h1>Ceci est un site de voyage ! </h1>
<p>
  <img class="h-[350px]" src="{{ asset('images/accueil.jpg') }}" alt="Mon image de voyage" />
</p>
</div>

{% endblock %}
