{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <h1>Profile</h1>
    <p>Email: {{ app.user.email }}</p>
    <p>Username: {{ app.user.username }}</p>
{% endblock %}
